diffusers==0.32.2
gradio==5.20.0
huggingface-hub==0.29.1
numpy>=1.26.0
onnxruntime>=1.16.0
Pillow>=10.0.0
accelerate
av
cloudpickle
einops
fvcore
imageio
matplotlib
omegaconf
opencv-python
pandas
pycocotools
pyyaml
psutil
peft
regex
safetensors
scikit-image
scipy
timm
tokenizers
transformers
